<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <configSections>
    
    <section name="CDProviders" type="CDLibraryDataLayer.ProviderConfiguration.CDProviderConfiguration, CDLibraryDataLayer" />
    <section name="ProspectProviders" type="CDLibraryDataLayer.ProviderConfiguration.ProspectProviderConfiguration, CDLibraryDataLayer" />
  </configSections>
  <CDProviders default="CDProvider">
    <providers>
      <add name="CDProvider" type="CDLibrary.DL.CDDataLayer, CDLibraryDataLayer" />
    </providers>
  </CDProviders>
  <ProspectProviders default="ProspectProvider">
    <providers>
      <add name="ProspectProvider" type="CDLibrary.DL.ProspectDataLayer, CDLibraryDataLayer" />
    </providers>
  </ProspectProviders>
  <connectionStrings>
    <add connectionString="Server=d993ae4c-7354-406f-a77d-a3a700b6c85d.sqlserver.sequelizer.com;Database=dbd993ae4c7354406fa77da3a700b6c85d;User ID=hbjprsbzempapyqd;Password=crE5SXNhLgRYXn3ooZ2SQ4ARJ6zsGLe8LcKq7ViBxp8Hamg6HvVUf3AgXVuVwuGa" providerName="System.Data.SqlClient" name="CDDatabaseContext" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>